@import "import/home.scss";
@import "require/_var.scss";
@import "require/_mixin.scss";
@import "require/_fonts.scss";

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	// text-rendering: optimizeLegibility;
	
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;

	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
	height: 100%;
	font: 100%/1.5 $font;
	// -webkit-font-smoothing: antialiased;
}
input, textarea, select, button {
	font: 100%/1.5 $font;
}
a {
	text-decoration: none;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	display: table;
}
header {
	position: fixed;
	width: 100%;
	z-index: 3;

	ul {
		margin: 20px 0 0 0;
		padding: 0 0 0 28px;
		li {
			display: inline-block;
			margin-right: 28px;
			font-size: 14px;
			a{
				color: black;
				opacity: 0.5;
			}
		}
		
	}
	ul li:nth-child(4) {
			float: right;
			a{
				color: black;
			}
		}
}
.container {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.content {
	text-align: center;
	display: inline-block;
}
.title {
	font-size: 96px;
}