@import "require/_var.scss";
@import "require/_mixin.scss";
@import "require/_fonts.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html, body {
	font: 100%/1.5 $font;	/*-webkit-font-smoothing: antialiased;*/
}
input, textarea, select, button {
	font: 100%/1.5 $font;
}
a {
	text-decoration: none;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: table;
	position: absolute;
	z-index: 0;
	background-color: #f3f3f3;
}
header {
	position: fixed;
	width: 100%;
	z-index: 2;

	ul {
		margin: 58px 0 0 0;
		padding: 0 68px 0 68px;

		li {
			display: inline-block;
			margin-right: 28px;
			font-size: 13px;
			text-transform: uppercase;
			float: right;
			overflow: hidden;

			a {
				color: black;
				opacity: 0;
				font-family: $maisonBold;
				position: relative;
				letter-spacing: 0.2px;
				transition: opacity 1900ms cubic-bezier(.19, 1, .22, 1);

				&::after {
					content: "";
					height: 10px;
					background-color: rgba(0, 0, 0, 0.12);
					position: absolute;
					width: 100%;
					top: 7px;
					left: -100%;
					z-index: 0;
					transition: all 900ms $easeOutExpo;
				}
				&:hover {
					opacity: 1;

					&::after {
						left: 0%;
					}
				}
			}
		}
	}
	ul li:nth-child(1) {
		float: left;
		color: black;
		position: fixed;
		top: 38px;
		left: 40px;

		a {
			overflow: hidden;
			// background-color: #fff;
			//    padding: 17px 17px 14px;
			width: 60px;
			transition: all 900ms $easeOutExpo;

			&::after {
				content: "";
				width: 0;
				// height: 100%;
				// background-color: #333333;
				//    whidth: 100%;
				//    left: -100%;
				//    top: 0;
				//    z-index: -1;
			}
			.logo-w {
				left: 0%;
				margin: 0;
				top: 0;
				position: relative;
				transition: left 900ms $easeOutExpo;
			}
			.logo-b {
				left: -100%;
				margin: 0;
				top: -21px;
				position: absolute;
				transition: left 900ms $easeOutExpo;
			}
			&:hover {
				// opacity: 1;
				// color: white;

				.logo-b {
					left: 0%;
				}
				.logo-w {
					left: 100%;
				}
			}
		}
	}
	ul li:nth-child(2) {
		margin-right: 0px;
	}
}
.container {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.content {
	text-align: center;
	display: inline-block;
}
.title {
	font-size: 96px;
}
@import "import/home.scss";
@import "import/single.scss";
@import "import/about.scss";
@import "import/contact.scss";
@import "import/login.scss";
@import "import/dashboard.scss";