<div id="login-page">
  <a href="/#/">back</a>
  <div class="row">
  	<h3>Contact</h3>
  	<form>
	    <div>
	        <label for="nom">Nom :</label>
	        <input class="input-email underline" type="text" id="nom">
	    </div>
	    <div>
	        <label for="courriel">Courriel :</label>
	        <input class="input-email underline" type="email" id="courriel">
	    </div>
	    <div>
	        <label for="message">Message :</label>
	        <textarea id="message"></textarea>
	    </div>
	    <div class="button">
	        <button type="submit">Envoyer votre message</button>
	    </div>
	</form>
  </div>
  <span class="bg"></span>
</div>
