<div id="contact-page">
  <a href="/#/">back</a>
  <div class="row">
  	<h3>Contact</h3>
  	<form>
	    <input class="input-email underline" type="text" placeholder="Votre nom">
	    <input class="input-email underline" type="text" placeholder="Votre prénom">
	    <input class="input-email underline" type="email" placeholder="Votre adresse e-mail">
	    <textarea class="input-text" type="textarea" placeholder="Votre message"></textarea>
		<button type="submit">Envoyer votre message</button>
	</form>
  </div>
  <span class="bg"></span>
</div>
