<div class="col_right">
	<div class="title"></div>
	<div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
	<div class="row">
		<a href="" ng-repeat="post in posts">
			<span class="mask"></span>
			<div class="inner_bloc">
				<h1>{{ post.title }}</h1>
				<p>Dolor sit</p>
			</div>
			<div class="el"></div>
		</a>
	</div>
</div>
<div class="col_left">
	<div class="row">
		<div class="bloc">
			<div class="inner_bloc">
			<h1>lorem ipsum dolor sit amet</h1>
			<div class="mask">
			<a href="">En savoir plus</a>
			</div>
			</div>
		</div>
	</div>
</div>

