<div id="home-page" class="transition">
	<div class="col_right">
		<div class="title"></div>
		<div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
		<div class="row">
			<a href="/#/articles/{{ post.id }}" ng-click="val()" class="{{['right', 'left'][$index %2]}}" ng-mouseenter="show()" ng-mouseleave="hide()" ng-repeat="post in posts | orderBy: 'created_at':true | limitTo: 5" >
				<span class="mask"></span>
				<div class="inner_bloc">
					<h1>{{ post.title }}</h1>
				</div>
				<div class="el"  style="background-image:url('/uploads/images/{{ post.url_thumbnail }}')"></div>
			</a>
		</div>
		<span class="bg"></span>
	</div>
	<div class="big-title"><h1></h1></div>
	<div class="col_left">
		<div class="row">
				<!-- <div class="inner_bloc" ng-repeat="post in posts">
				<h1>{{ post.title }}</h1>
				<div class="mask">
				<a href="">En savoir plus</a>
				</div> -->
		</div>
		<div class="new"></div>
	</div>
</div>

