#about-page {
	.col_left {
		position: fixed;
		width: 50%;
		height: 100%;
		top: 0;
		left: 0;	/*background-color: #e8e8e8;*/
		z-index: -1;

		.row {
			z-index: 0;
			width: 100%;
			position: relative;
			height: 100%;
			top: 0px;
			left: 0;

			.inner_bloc {
				text-align: left;
				position: absolute;
				bottom: 5%;
				left: 5%;
				width: 30%;
				z-index: 1;

				h1 {
					text-transform: uppercase;
					font-size: 90px;
					line-height: 80px;
					font-family: $maisonBold;
				}
				.mask {
					height: 100%;
					width: 102px;
					padding-top: 10px;
					overflow: hidden;
					position: relative;

					a {
						overflow: hidden;
						color: black;

						&:hover::after {
							content: "";
							left: 100%;
							transition: all 700ms $easeOutExpo;
						}
						&:hover::before {
							content: "";
							left: 0%;
							transition: all 700ms $easeOutExpo;
							transition-delay: 0.2s;
						}
					}
					a::after {
						content: "";
						height: 1px;
						background-color: #000;
						position: absolute;
						width: 100%;
						top: 81%;
						left: 0%;
						transition: all 700ms $easeOutExpo;
						transition-delay: 0.2s;
					}
					a::before {
						content: "";
						height: 1px;
						background-color: #000;
						position: absolute;
						width: 100%;
						top: 81%;
						left: -100%;
						transition: all 700ms $easeOutExpo;
					}
				}
			}
			.el {

				/*background-image: url('http://66.media.tumblr.com/77b44de72440728855c2fa3a48d53e1e/tumblr_oatq1hXjnl1smsuzto1_1280.jpg');*/
				background-size: cover;
				background-position: center center;
				width: 100%;
				height: 100%;
				top: 0;
			}
		}
		.new{
			position: absolute;
		    background-image: url("http://67.media.tumblr.com/170688abf0a46a7478e56ea6c645d104/tumblr_o0jctqm5Kk1u3acd7o1_1280.jpg");
		    background-size: cover;
		    background-position: center center;
		    top: 0;
		    left: 0;
		    width: 100%;
			height: 100%;
		    z-index: -1;
		}
	}
	.col_right {
		position: absolute;
		overflow: hidden;
		width: 50%;
		z-index: 0;
		right: -100%;
		top: 0;
		min-width: 380px;
		background-color: white;
		letter-spacing: 0.2px;
		transition: all 900ms cubic-bezier(.19, 1, .22, 1);

		.title {
			font-size: 49px;
			top: 75px;
			position: fixed;
			right: 300px;
		}
		.info {
			font-size: 40px;
			line-height: 26px;
			margin: 0 68px 0 29%;
			padding-bottom: 90px;
			padding-top: 158px;
			text-align: left;
			font-family: $maisonBold;
			line-height: 40px;
		}
		.row {
			// margin: 0 68px;

			a {
				background-color: #e8e8e8;
				
				margin-bottom: 100px;
				overflow: hidden;
				position: relative;
				display: block;

				&.right {
					height: 475px;
					width: 35%;
					margin-left: 65%;
				}
				&.left {
					height: 175px;
					width: 50%;
					margin-left: 15%;
				}
				&:hover {
					.el {
						transform: scale(1.1);
					}
					.mask {
						background-color: rgba(0, 0, 0, 1);
					}
					.inner_bloc {
						opacity: 1;
						left: 0px;
						transition: all 900ms cubic-bezier(.19, 1, .22, 1);
					}
				}
				.mask {
					background-color: rgba(0, 0, 0, 0.01);
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 2;
					transition: all 900ms cubic-bezier(.19, 1, .22, 1);
				}
				.inner_bloc {
					overflow: hidden;
					text-align: center;
					top: 50%;
    				transform: translateY(-50%);
					width:100%;
					margin: 0 auto;
					position: absolute;
					color: white;
					-webkit-font-smoothing: antialiased;
					opacity: 0;
					z-index: 3;
					left: 0px;
					transition: opacity 900ms cubic-bezier(.19, 1, .22, 1);
					transition: left 0ms cubic-bezier(.19, 1, .22, 1);

					h1 {
						font-size: 13px;
						letter-spacing: 0.2;
						text-transform: uppercase;
						margin: 0 auto;
					}
					p {
						font-size: 13px;
						letter-spacing: 0.2;
						margin: 0;
						opacity: 0.5;
					}
				}
				.el {

					/*background-image: url('https://s-media-cache-ak0.pinimg.com/564x/85/6b/b9/856bb956f0dc35657f7b010b5dfdfb5a.jpg');*/
					background-size: cover;
					width: 101%;
					height: 101%;
					transition: all 1900ms cubic-bezier(.19, 1, .22, 1);
				}
			}
		}
	}
}