article {
    width: 292px;
    min-height: 300px;
    margin: 0 0 16px 0;
    display: inline-block;

    &.single_post {
        width: auto !important;
    }
    h2 {
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 111111111;
        position: absolute;
        width: 230px;
        height: 50px;
        font-size: 25px;

        a {
            color: black;
            font-weight: bold;
        }
    }
    &:nth-child(odd) {
        float: left;
    }
    &:nth-child(even) {
        float: right;
    }
    figure {
        position: relative;

        img {
            width: 230px;
            height: 146px;

            &.simgle_image {
                width: auto !important;
                max-width: 370px !important;
            }
        }
        div.vote_banner {
            width: 60px;
            height: 87px;
            background-color: #D42500;
            display: inline;
            float: right;

            span {
                &:first-child {
                    position: relative;
                    color: white;
                    left: 5px;
                }
                &:last-child {
                    position: relative;
                    left: 16px;
                    top: 2px;
                    color: white;
                    font-size: 18px;
                }
            }
            a.vote_banner_marker {
                font-size: 40px;
                position: relative;
                left: 15px;
                color: black;
                line-height: 26px;

                &:hover {
                    color: yellow;
                    top: 6px !important;
                    text-decoration: none;
                }
                &:visited, &:active {
                    text-decoration: none;
                }
            }
        }
    }
    figcaption {
        margin: 12px;

        p.article_content {
            margin-bottom: 15px;
            font-size: 16px;
            line-height: 25px;

            span {
                padding: 3px 13px;
                border: 1px solid rgba(31, 19, 31, 0.1);
                border-radius: 5px;

                &:hover {
                    border: 1px solid rgba(31, 19, 31, 0.4);
                    cursor: pointer;
                }
                a, a:hover {
                    text-decoration: none;
                }
            }
        }
        p.meta_data {
            font-size: 11px;
            color: gray;

            .meta_data_user {
                font-style: italic;
            }
        }
    }
}
div.panel {
    margin-top: 14px;

    ul {
        li {
            font-size: 14px;
            display: inline;

            a {
                color: black;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}
p.action_response {
}
table.article_list {
    min-width: 100%;

    thead > tr > td {
        font-size: 14px;
        font-weight: bold;
        line-height: 99px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    }
    tbody {
        tr {
            &.oddClass {
                // background-color: #E9F4FF;
            }
            &.evenClass {
                // background-color: white;
            }
            td {
                line-height: 99px;
                font-size: 14px;
                padding: 0 3px;

                a {
                    color: black;
                }
                a.edit_post {
                    font-size: 14px;

                    &:hover {
                        text-decoration: none;
                    }
                }
                p.view_post_comment{
                    line-height: 20px;
                }
                button {
                    background: none;
                    border: none;
                }
                div.delete_post_confirmation {
                    display: none;
                    width: 480px;
                    // height: 460px;
                    background-color: white;
                    border: none;
                    border-radius: 0px;

                    p {
                        margin: 56px auto 0;
                        font-size: 22px;
                        width: 56%;
                        text-align: center;
                        line-height: 37px;
                        font-family: MaisonNeue-Bold;
                    }
                    form.delete_post {
                        margin: 32px auto 42px;
                        width: 50%;
                        line-height: 89px;

                        input {
                            font-size: 10px;
                            width: 100%;
                            padding: 0;
                            border: 0;
                            float: left;
                            margin: 0;
                            margin-bottom: 17px;

                            &[type="submit"] {
                                background-color: black;
                                color: #fff;
                                margin-bottom: 56px;
                            }
                            &[type="reset"] {
                                background-color: #e6e6e6;
                                color: #565656;
                            }
                        }
                    }
                }
            }
        }
    }
}
form {
    fieldset {
        p {
            margin: 15px;

            input {
                &[type="text"], &[type="password"] {
                    width: 245px;
                    height: 40px;
                    border: 0;
                    background-color: #F3F3F3 !important;
                    padding-left: 7px;
                }
                &[type="submit"] {
                    padding: 10px 20px;
                    background-color: #272727;
                    color: #ffffff;
                    border: 0;
                }
            }
            select {
                width: 165px;
                background-color: #E2E2E2;
                color: black;
                font-size: 14px;

                &[name="category_id"] {
                    height: 31px;
                    border: 0;
                }
                &[name="tag_id[]"] {
                    border: 1px solid gray;

                    option {
                        &:nth-child(even) {
                            background-color: #CCDFFF;
                        }
                        &:nth-child(odd) {
                            background-color: white;
                        }
                    }
                }
            }
        }
    }
}
.category_page {
    margin-top: 70px;
}
.error_page {
    .error_container {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }
    .error_content {
        text-align: center;
        display: inline-block;
    }
    .error_title {
        font-size: 72px;
        margin-bottom: 40px;
    }
}
footer#page_footer {
    position: relative;
    top: 30px;
    border-top: 1px solid red;
    padding: 14px 0 10px 0;
    margin: 10px 0 0 0;

    ul {
        text-align: center;

        li {
            display: inline;
            padding: 5px;
        }
    }
}
aside#sidebar {
    position: relative;
    top: 30px;
    border-top: 1px solid red;
    padding-top: 20px;

    ul {
        list-style: none;
        margin: 0 0 25px 25px;

        &#category {
            text-transform: uppercase;

            li {
                line-height: 25px;
            }
        }
        &#la_une li {
            figure {
                #image_la_une {
                    padding: 20px;
                    background-color: #EB79EB;
                    margin-bottom: 15px;
                }
            }
        }
    }
}
.ErrorMssgClass {
    padding: 5px;
    border: 1px solid red;
    margin-top: 2px;
    border-radius: 6px;
    color: red;
    background-color: #FFEEEE;

    span {
        background-color: red;
        content: 'X';
        border: 1px solid #fff;
        border-radius: 20px;
        padding: 9px;
        float: right;
        cursor: pointer;
    }
}
.SuccessMssgClass {
    padding: 5px;
    border: none;
    margin-top: 2px;
    border-radius: 6px;
    color: #007FC5;
    background-color: #E4F6FF;

    span {
        background-color: #007FC5;
        content: 'X';
        border: 1px solid #fff;
        border-radius: 20px;
        padding: 9px;
        float: right;
        cursor: pointer;
    }
}