a.back {
	font-family: $font;
	font-size: 10px;
	// text-transform: uppercase;
	top: 68px;
	left: 68px;
	color: white;
	position: fixed;
	z-index: 3;
}
.row {
	.sidebar-wrapper {
		position: fixed;
		width: 330px;
		height: 100%;
		text-align: left;
		left: 0%;
		top: 0;
		background-color: black;
		display: none;

		&.menu_teacher {
			display: block !important;
		}
		&.menu_eleve {
			display: block !important;
		}
		ul.nav.navbar-nav.side-nav {
			transform: translateY(-50%);
			top: 50%;
			position: absolute;
			overflow: hidden;
			margin-left: 68px;

			li {
				position: relative;
				padding-top: 16px;
				list-style: none;
				font-size: 17px;
				overflow: hidden;
				font-family: MaisonNeue-Bold;

				a {
					position: relative;
					color: white;
					opacity: 1;
					transition: opacity 700ms $easeOutExpo;

					&::after {
						content: "";
						height: 5px;
						background-color: white;
						position: absolute;
						width: 100%;
						top: 18px;
						left: -100%;
						transition: all 900ms $easeOutExpo;
					}
					&:hover {
						opacity: 1;

						&::after {
							left: 0%;
						}
					}
					&:focus {
						opacity: 1;
					}
				}
			}
		}
	}
}